:root {
  --border-radius: 5px;
}

/* Red theme (Default) */
:root,
[data-selected-theme="purple"] {
  --color-background: rgb(227, 211, 242);
  --color-text: #432f62;
  --color-accent: #977ac9;
}

/* Blue theme */
[data-selected-theme="blue"] {
  --color-background: #cce3f6;
  --color-text: #1e3a5f;
  --color-accent: #5a91d6;
}


/* Green theme */
[data-selected-theme="green"] {
  --color-background: #459d01;
  --color-text: #4d8a0b;
  --color-accent: #aaf542;
}

body {
  background-color: var(--color-background);
  background: radial-gradient(var(--color-background), var(--color-accent));
  color: var(--color-text);
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2rem 3rem;
  border: 3px solid var(--color-text);

  border-radius: 20px;
  max-width: 600px;
}

h1 {
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
}

.theme-switcher {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.5rem;
}

button[data-theme] {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: var(--color-text);
  border: 3px solid var(--color-text);
  background: transparent;
  border-radius: 30px;
  transition: background-color 0.3s, color 0.3s;
}

button[data-theme][aria-pressed="true"] {
  background-color: var(--color-text);
  color: rgb(255, 255, 255)
